*{
    padding:0;
    margin:0;
    font-family: Arial,sans-serif;
    box-sizing: border-box;
}
:root {
    --burntred: #E94D40;
    --navyblue: #0C243C;
}

#wrapper{
    width: 1200px;
    height:1760px;
    /* background-color: bisque; */
    margin-left: 365px;
}
nav{
    width:1200px;
    height: 50px;
    /* background-color: cadetblue; */
    line-height: 25px;
    padding-top: 25px;
    text-align: right;
}

nav>a{
    margin-left:35px;
    text-decoration: none;
    color: var(--navyblue);
}

nav>a:hover{
    text-decoration:overline;
}

h2,h3{
    margin-top:25px;
    color:var(--burntred);
}









footer{
    width: 1200px;
    height: 50px;
    text-align: center;
    background-color: #0C243C;
    color: #fff;
    line-height: 50px;
    }